
.banar-parent{
    background-color: #ffffff;
    background-image: url(/images/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.banar-spllid{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.banar-info{
   display: flex;
   flex-direction: column;
   gap: 10px
}

.banar-img img{
    height:500px;
    width:auto;

}
.banar-btn{
    position: relative;
}
.banar-btn button i{
    position: absolute;
    left: 15px;
    right: 0px;
}
