*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn-1{
      height: 65px;
      width: 150px;
      border-radius: 5px;
      border: none;
      background-color: rgba(253, 110, 10, 1);
      color: white;
}
.container{
    max-width: 1350px;
    width:80%;
    margin:0 auto;
    /* border: 1px solid black; */
}
header{
     background: rgba(255, 248, 243, 1);
}
.navbar-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.navbar-logo{
    font-size: 45px;
    font-weight: 800;
}
.navbar-logo span{
    color: rgba(253, 110, 10, 1);
}
.navbar-clickable{
  font-size: 20px;
  font-weight: 400;
}
.navbar-clickable ul{
    list-style: none;
   
}
.navbar-clickable ul li{
    display: inline-block;
    margin-right: 30px;
   
}
.navbar-clickable ul li a{
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
}